<% provide :head_tags do %>
	<script>
		document.addEventListener("DOMContentLoaded", function(){
			initMap()
		});
		let map;
		let markers = [];
		let locations = [];
		let geocoder = new google.maps.Geocoder();
		let counter = 0;
		let even = true;
		// initialize map
		function initMap() {
			map = new google.maps.Map(document.getElementById("map"), {
				zoom: 10,
				// set to new york
				center: { lat: 40.6242122, lng: -74.0310179 },
			});
			// create a new marker
			let marker;
			// loops through all the restaurants and adds a marker for each one
			<% Restaurant.all.each do |restaurant| %>
				marker = new google.maps.Marker({
					position: { lat: <%= restaurant.latitude %>, lng: <%= restaurant.longitude %> },
					title: "<%= restaurant.name %>",
				});
				addMarker(marker, "<%= restaurant.name %>", <%= restaurant.id %>);
			<% end %>
		}

		// add marker to map with lat and long
		function addMarker(marker, title, id) {
			markers.push(marker);
			// remove duplicates from markers array based on title
			removeDuplicates(markers, "title");
			// content string for info window
			const contentString = '<div>'+
				'<h4>'+ title +'</h4>'+
				'<div>'+
				'<p>Click<a href="/restaurants/'+ id +'"> here </a>to view the restaurant!</p>'+
				'</div>'+
				'</div>';
			// create info window
			const infowindow = new google.maps.InfoWindow({
				content: contentString,
				ariaLabel: title,
			});
			// add event listener to marker to open info window
			marker.addListener("click", () => {
				infowindow.open({
				anchor: marker,
				map,
				});
			});
			// add marker to map
			marker.setMap(map);
		}
		// remove duplicates from array based on attribute
		function removeDuplicates(arr, index){
			let i = 0;
			let j = 0;
			let len = arr.length;
			for(i = 0; i < len; i++){
				for(j = i + 1; j < len; j++){
					if(arr[i][index] === arr[j][index]){
						arr.splice(j, 1);
						len--;
						j--;
					}
				}
			}
			return arr;
		}
		window.initMap = initMap;
	</script>
<% end %>
<p>
	<div id="map-overlay"></div>
	<%# create a div that will allow you to click refresh when map disappears%>
	<div id="refresh">
		<p>Sorry about that. Click below to refresh the map!</p>
		<a onclick="reload()" class="hover"><%= button_to "Refresh", class: "btn btn-primary"%></a>
	</div>

</p>

<script>
	function reload(){
		const reloadUsingLocationHash = () => {
			window.location.hash = "/";
		}
		window.onload = reloadUsingLocationHash();
	}
	
</script>