<div id="<%= dom_id halal_item %>">
  <p>
    <strong>Id:</strong>
    <%= halal_item.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= halal_item.name %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= halal_item.restaurant_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= halal_item.description %>
  </p>

  <p>
    <strong>Verification:</strong>
    <%= halal_item.verification %>
  </p>

  <p>
    <strong>Vegan:</strong>
    <%= halal_item.vegan %>
  </p>

  <p>
    <strong>Gluten free:</strong>
    <%= halal_item.gluten_free %>
  </p>

  <p>
    <strong>Vegetarian:</strong>
    <%= halal_item.vegetarian %>
  </p>

</div>
