<%= form_tag search_restaurants_path, method: :get do %>
	<div class="text-center">
		<div class="search-bar mb-3">
			<%= text_field_tag :name, nil, placeholder: 'Name of Restaurant' %>
		</div>
		<div class="search-bar mb-5">
			<h4>Cuisines</h4>
			<%# checkboxes for each cuisine %>
			<% cuisine_collector.each do |cuisine| %>
				<%# collects the first element in cuisine %>
				<% cuisine = cuisine[0] %>
				<div class="flex-container checkbox">
					<%= check_box_tag "cuisine[]", cuisine %>
					<%= label_tag cuisine %>
				</div>
			<% end %>
		</div>
		<div class="search-bar mb-5">
			<%= select_tag :city, options_for_select(city_collector), prompt: 'Select City' %>
		</div>
	</div>
	<div class="search-button">
		<%= submit_tag "Filter" %>
	</div>
<% end %>