<%= form_with(model: restaurant) do |form| %>
  <% if restaurant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
        <% restaurant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "restaurant-text-field" %>
  </div>

  <div>
	<%= form.label :address, style: "display: block" %>
	<%= form.text_field :address, class: "restaurant-text-field"  %>
  </div>

  <div>
	<%= form.label :rating, style: "display: block" %>
	<%= form.number_field :rating, step: :any, class: "restaurant-text-field"  %>
  </div>

  <div>
	<%= form.label "Restaurant Website", style: "display: block" %>
	<%= form.text_field :url, class: "restaurant-text-field"  %>
  </div>

  <div>
	<%= form.label :cuisine, style: "display: block" %>
	<%= form.text_field :cuisine, class: "restaurant-text-field"  %>
  </div>

  
	<% if current_user&.admin? %>
		<div class="approved-section"> 
			<%= form.label :approved, style: "display: block" %>
			<%= form.check_box :approved, class: "approved-checkbox" %>
		</div>
	<% end %>
  

  <div>
    <%= form.submit "Submit Restaurant Request", class: "restaurant-submit-button" %>
  </div>
<% end %>
