<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="restaurant-container">
	<div class="restaurant-info">
		<div>
			<div class="restaurant-header">
				<h2 style="margin-right: 20px;"><%= @restaurant&.name %></h2>
				<% if logged_in? and @restaurant&.approved %>
					<% if favorited?(@restaurant) %>
					<%= link_to '<i class="fa fa-solid fa-bookmark fa-3x" aria-hidden="true" style="color: black;"></i>'.html_safe, favorites_update_path(restaurant: @restaurant), id: 'favorite_link' %>
					
					<% else %>
					<%= link_to '<i class="fa fa-regular fa-bookmark fa-3x" aria-hidden="true" style="color: white;"></i>'.html_safe, favorites_update_path(restaurant: @restaurant), id: 'favorite_link' %>
					<% end %>
				<% end %>
			</div>
			<h4> Google Rating:
				<% stars(@restaurant&.rating.to_f).each do |star| %>
					<i class="star-icons">
						<% if star == "star_fill" %>
							<span class="fa fa-star checked"></span>
						<% else %>
							<span class="fa fa-star"></span>
						<% end %>
					</i>
				<% end %>
				( <%= @restaurant&.rating %> / 5 )
			</h4>
			<h4>
				HYCE Rating:
				<% stars(collect_restaurant_ratings).each do |star| %>
					<i class="star-icons">
						<% if star == "star_fill" %>
							<span class="fa fa-star checked"></span>
						<% else %>
							<span class="fa fa-star"></span>
						<% end %>
					</i>
				<% end %>
				( <%= collect_restaurant_ratings%> / 5 )
			</h4>

			<h4> Located at: <%= @restaurant&.address %>. </h4>

			<h4> Cuisine Type: <%= @restaurant&.cuisine %> </h4>

			<% if @restaurant&.url != nil %>
			<h4> Website: <%= link_to @restaurant&.url, @restaurant&.url, target: :_blank %> </h4>
			<% end %>
		</div>
		<hr>
		<div>
			<div class="review-display">
				<% if @restaurant.reviews.length > 0 %>
					<h3> Reviews: </h3>
						<%= render @reviews %>
						<%= will_paginate @reviews %>
				<% else %>
					<h3> No reviews yet! </h3>
				<% end %>
			</div>
		</div>

		<div class="review-form">
			<% if logged_in? and @restaurant&.approved %>
				<div class="review-form">
					<h3 id="review-start"> Write a review! </h3>
					<%= render 'reviews/form', review: @review %>
				</div>
			<% end %>
			<% if !logged_in? and @restaurant&.approved %>
				<h4 style="padding-top = 50px;"> Want to review this restaurant and favorite it? <%= link_to "Sign up now!", signup_path%> </h4>
				<h4> Already have an account? <%= link_to "Sign in", login_path%> </h4>
			<% end %>
		</div>
	</div>

	<hr>

	
</div>



