<p style="color: green"><%= notice %></p>

<h2 class="text-center header-space">Restaurants</h2>
<%# setting restaurants properly depending on filtering %>
<% if @restaurants == nil %>
	<% restaurants = Restaurant.all %>
<% else %>	
	<% restaurants = @restaurants %>
<% end %>
<div class="container">
	<%# if on the home page, render the parital without flex box %>
	<% if on_home_page %>
		<div class="row">
			<%# shouldn't show this text if it's in the main view of restaurant %>
			<p class="text-center"> To search and sort restaurants by name or rating, <%= link_to "click here", restaurants_path %> </p>	
			<div class="table-background">
				<%= render "restaurants/table", restaurants: restaurants %>
			</div>
		</div>
	<%# if on the index or search, render the partial with flex box %>
	<% else %>
		<div class="row flex-container">
			<div class="col-3 search-bar-section">
				<h4 class="text-center" >Filters</h4>
				<%= render "restaurants/filter_form" %>
			</div>
			<div class="col-9 table-background">
				<%= render "restaurants/table", restaurants: restaurants %>
			</div>
		</div>
	<% end %>
</div>
