<p style="color: green"><%= notice %></p>

<h2 class="text-center">Restaurants</h2>
<%# setting restaurants properly depending on filtering %>
<% if @restaurants == nil %>
	<% restaurants = Restaurant.all %>
<% else %>	
	<% restaurants = @restaurants %>
<% end %>
<div class="container">
	<div class="row">
		<% if !on_home_page %>
			<div class="col-3 search-bar-section">
				<%= render "restaurants/filter_form" %>
			</div>
		<% end %>
		<%# shouldn't show this text if it's in the main view of restaurant %>
		<% if on_home_page %>
			<p class="text-center"> To search and sort restaurants by name or rating, <%= link_to "click here", restaurants_path %> </p>	
			<div class="gray-background">
				<%= render "restaurants/table", restaurants: restaurants %>
			</div>
		<% else %>
			<div class="col-9 gray-background">
				<%= render "restaurants/table", restaurants: restaurants %>
			</div>
		<% end %>
		
	</div>
</div>
