<div class="container">
	<div class="restaurant-info">
		<h2> This is <%= @restaurant&.name %>!</h2>

		<h4> We are located at <%= @restaurant&.address %>. </h4>

		<h4> Our cuisine is <%= @restaurant&.cuisine %>. </h4>

		<h4> Our rating is 
			<% stars(@restaurant&.rating.to_f).each do |star| %>
  				<i class="star-icons">
					<% if star == "star_fill" %>
						<%= image_tag("star-filled.svg", :alt => "star_filled", :size => "20x20") %>
					<% else %>
						<%= image_tag("star-empty.svg", :alt => "star_empty", :size => "20x20") %>
					<% end %>
				</i>
			<% end %>
		</h4>

		<% if @restaurant&.url != nil %>
			<h4> Our website is <%= link_to @restaurant&.url, @restaurant&.url, target: :_blank %> </h4>
		<% end %>
	</div>

	<div class="review-form">
		<%# add a review to this restaurant %>
		<% if logged_in? and @restaurant&.approved %> <%# change to if logged_in? to enable adding reviews %>
			<div class="review-form">
				<h3> Add a review: </h3>
				<%= render 'reviews/form', review: @review %>
			</div>
		<% end %>
	</div>

	<div class="review-section">
		<div class="review-display">
			<% if @restaurant.reviews.length > 0 %>
				<h3> Reviews: </h3>
					<%= render @reviews %>
					<%= will_paginate @reviews %>
			<% else %>
				<h3> No reviews yet! </h3>
			<% end %>
		</div>
	</div>
</div>



