<table class="center" id="rest">
	<thead class="bg-gray-800 text-white">
	<tr>
		<th>
			<%# shouldn't be able to sort if in the home page list view %>
			<% if !on_home_page %>
				<%= link_to "Name", restaurants_path(:sort => "name") %>
			<% else %>
				Name
			<% end %>
		</th>
		<th>
			Cuisine
		</th>
		<th>
			Address
		</th>
		<th>
			<%# same as above %>
			<% if !on_home_page %>
				<%= link_to "Rating", restaurants_path(:sort => "rating") %>
			<% else %>
				Rating
			<% end %>
		</th>
	</tr>
	</thead>
	<tbody class="text-gray-700">
	<% restaurants.each do |restaurant| %>
		<tr>
			<td class="text-left py-3 px-6"><%= link_to restaurant.name, restaurants_path + "/#{restaurant.id}"%></td>
			<td class="text-left py-3 px-6"><%= restaurant.cuisine %></td>
			<td class="text-left py-3 px-6"><%= restaurant.address %></td>
			<td class="text-left py-3 px-6"><%= restaurant.rating %></td>
		</tr>
	<% end %>
	</tbody>
</table>