<table class="center" id="rest">
	<thead class="bg-gray-800 text-white">
	<tr>
		<th>
			Name
		</th>
		<th>
			Cuisine
		</th>
		<th>
			Address
		</th>
		<th>
			Rating
		</th>
		<% if current_user&.admin? %>
			<th colspan="2">
				Commands
			</th>
		<% end %>
	</tr>
	</thead>
	<tbody class="text-gray-700">
	<% restaurants.each do |restaurant| %>
		<% if restaurant["approved"] != false %>
			<tr>
				<td class="text-left py-3 px-6"><%= link_to restaurant["name"], restaurants_path + "/#{restaurant["id"]}"%></td>
				<td class="text-left py-3 px-6"><%= restaurant["cuisine"] %></td>
				<td class="text-left py-3 px-6"><%= restaurant["address"] %></td>
				<td class="text-left py-3 px-6"><%= restaurant["rating"] %></td>
				<% if current_user&.admin? %>
					<td class="text-left py-3 px-6">
						<%= link_to "Edit", edit_restaurant_path(restaurant["id"]) %>
					</td>
					<td class="text-left py-3 px-6">
						<%= button_to "Delete", restaurant_path(restaurant["id"]), :method => "delete", style: "color: black;" %>
					</td>
				<% end %>
			</tr>
		<% end %>
	<% end %>
	</tbody>
</table>