<% provide(:title, @restaurant.name) %>

<p style="color: green"><%= notice %></p>

<%= render partial: "restaurant", object: @restaurant  %>

<div>
  <p>
  <%# save this restaurant to your favorites %>
  <% if logged_in? and @restaurant&.approved %>
 	 <%= link_to favorite_text, favorites_update_path(restaurant: @restaurant), id: 'favorite_link' %> |
  <% end %>
  <%= link_to "Back to restaurants", restaurants_path %> | 
  <%= link_to "Back to home page", root_url %>
  </p>

</div>
  
