<% provide(:title, @restaurant.name) %>

<p style="color: green"><%= notice %></p>

<%= render partial: "restaurant", object: @restaurant  %>

<div>
  <%# link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %>
  
  <p>
  <%# save this restaurant to your favorites %>
  <%= link_to favorite_text, favorites_update_path(restaurant: @restaurant), id: 'favorite_link' %>
  <%= link_to "Back to restaurants", restaurants_path %> | 
  <%= link_to "Back to home page", root_url %>
  </p>

</div>
  
