<% provide(:title, "About the Devs") %>

<h1>Meet the Devs</h1>
<%# <small># we can decide on an order for names later, 
for now I just put us in alphabetical order by first name</small> %>

<div class="bio-section">
	<div class="bio-content">
		<h2>Anjola Uprety</h2>
		<p>Anjola is a second year masters student at Brandeis University. Currently, she is fascinated by the field of artificial intelligence and how machines use algorithms to gain insights and find patterns by training on historical data to predict future outcomes. In her spare time she enjoys hiking, biking, and listening to music. Her favorite cuisine is korean.</p>
	</div>
	<div class="bio-image">
		<p style="float: right;"><%= image_tag("anjola_uprety.png", :alt => "Anjola", :size => "150x150", :id => "anjola") %></p>
	</div>
</div>


<div class="bio-section">
	<div class="bio-content">
		<h2>Elizabeth Diener</h2>
		<p>Stuff for Elizabeth goes here.</p>
	</div>
	<div class="bio-image">
		<p style="float: right;"><%= image_tag("map_icon.png", :alt => "Elizabeth", :size => "150x150", :id => "elizabeth") %></p>
	</div>
</div>

<div class="bio-section">
	<div class="bio-content">
		<h2>Fritz Duverglas</h2>
		<p>Stuff for Fritz goes here.</p>
	</div>
	<div class="bio-image">
		<p style="float: right;"><%= image_tag("map_icon.png", :alt => "Fritz", :size => "150x150", :id => "fritz") %></p>
	</div>
</div>

<div class="bio-section">
	<div class="bio-content">
		<h2>Syed Hassan</h2>
		<p>Stuff for Syed goes here</p>
	</div>
	<div class="bio-image">
		<p style="float: right;"><%= image_tag("map_icon.png", :alt => "Syed", :size => "150x150", :id => "syed") %></p>
	</div>
</div>

<div class="bio-section">
	<div class="bio-content">
		<h2>Zuhaeer Islam</h2>
		<p>Stuff for Zuhaeer goes here</p>
	</div>
	<div class="bio-image">
		<p style="float: right;"><%= image_tag("map_icon.png", :alt => "Zuhaeer", :size => "150x150", :id => "zuhaeer") %></p>
	</div>
</div>
