<% provide(:title, "About the Devs") %>

<h1>Meet the Devs</h1>
<%# <small># we can decide on an order for names later, 
for now I just put us in alphabetical order by first name</small> %>

<div class="bio-section">
	<div class="bio-content">
		<h2>Anjola Uprety</h2>
		<p>Anjola is a second year masters student at Brandeis University. Currently, she is fascinated by the field of artificial intelligence and how machines use algorithms to gain insights and find patterns by training on historical data to predict future outcomes. In her spare time she enjoys hiking, biking, and listening to music. Her favorite cuisine is Korean.</p>
	</div>
	<div class="bio-image">
		<p style="float: right;"><%= image_tag("anjola_uprety.png", :alt => "Anjola", :size => "182x235", :id => "anjola") %></p>
	</div>
</div>


<div class="bio-section">
	<div class="bio-content">
		<h2>Elizabeth Diener</h2>
		<p>Elizabeth is a master's student in computer science in her final semester. Upon graduation, she is looking for a job as a software engineer. In her free time, she enjoys woodworking, blacksmithing, glassworking, painting, and hobby video editing. Her favorite cuisine is Italian.</p>
	</div>
	<div class="bio-image">
		<p style="float: right;"><%= image_tag("elizabeth_diener.jpg", :alt => "Elizabeth", :size => "182x235", :id => "elizabeth") %></p>
	</div>
</div>

<div class="bio-section">
	<div class="bio-content">
		<h2>Fritz Duverglas</h2>
		<p>Fritz is a senior at Brandeis University majoring in Computer Science and minoring in African and African American Studies and History. He will be a software engineer at Publicis Sapient upon graduation in May. In his spare time, he likes playing pool, video games, and hanging out with friends. His favorite food is pizza. </p>
	</div>
	<div class="bio-image">
		<p style="float: right;"><%= image_tag("fritz_duverglas.jpg", :alt => "Fritz", :size => "182x235", :id => "fritz") %></p>
	</div>
</div>

<div class="bio-section">
	<div class="bio-content">
		<h2>Syed Hassan</h2>
		<p>Syed is a senior at Brandeis University majoring in Computer Science and minoring in Religious Studies, Economics, and Islamic Studies. Upon gradution in May, he will be working full time at Depository Trust & Clearing Corporation as a software developer. In his spare time, he likes reading, photography, music, and spending time with people. His favorite cuisine is Middle Eastern.</p>
	</div>
	<div class="bio-image">
		<p style="float: right;"><%= image_tag("hamza_shah.jpg", :alt => "Syed", :size => "182x235", :id => "syed") %></p>
	</div>
</div>

<div class="bio-section">
	<div class="bio-content">
		<h2>Zuhaeer Islam</h2>
		<p>Zuhaeer Islam is currently a senior at Brandeis University majoring in Computer Science and Applied Math. Upon graduation he will be pursuing his Master’s in Computer Science. Apart from that, he loves eating different types of cuisines, traveling to new places, watching thriller movies and shows, playing football (soccer), and of course, spending time with family and friends.</p>
	</div>
	<div class="bio-image">
		<p style="float: right;"><%= image_tag("zuhaeer_islam.jpg", :alt => "Zuhaeer", :size => "182x235", :id => "zuhaeer") %></p>
	</div>
</div>
