<%= form_with(url: reviews_path, scope: :review) do |form| %>
	<%= form.hidden_field :restaurant_id, value: @restaurant.id %>
  <% if review != nil && review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
	<%# in hiding for now %>
	<% if false %>
		<div>
			<%# should be autofilled with proper id, or done in the background %>
			<%= form.label :id, style: "display: block" %>
			<%= form.number_field :id %>
		</div>

		<div>
			<%# should be autofilled with the proper restaurant id %>
			<%= form.label :restaurant_id, style: "display: block" %>
			<%= form.number_field :restaurant_id %>
		</div>

		<div>
			<%# shouldn't need to be here %>
			<%= form.label :halal_item_id, style: "display: block" %>
			<%= form.number_field :halal_item_id %>
		</div>

		<div>
			<%# should just be the users name, something like current_user.name or using the id to get the name %>
			<%= form.label :user_id, style: "display: block" %>
			<%= form.number_field :user_id %>
		</div>
	<% end %>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_field :content %>
  </div>

  <div>
    <%= form.label :rating, style: "display: block" %>
    <%= form.number_field :rating %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
