<div id="<%= dom_id review %>" class="reviews">
  <p>
    <strong>User:</strong>
	<% u = User.find(review.user_id) %>
    <%= u.name %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= review.content %>
  </p>

  <p>
    <strong>Date of review:</strong>
    <%= review.date_of_review %>
  </p>

</div>
