<div id="<%= dom_id review %>" class="reviews">
  <p>
    <strong>User:</strong>
	<% if review.user_id != nil %>
		<% u = User.find(review.user_id) %>
		<%= u.name %>
	<% end %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= review.content %>
  </p>

  <p>
    <strong>Date of review:</strong>
    <%= review.date_of_review %>
  </p>

</div>
