<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Halal You Can Eat", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About the App", about_app_path %></li>
        <li><%= link_to "About the Devs", about_devs_path %></li>
        <li><%= link_to "About Halal", about_halal_path %></li>
      </ul>
    </nav>
  </div>
</header>